.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-box {
  background-color: aliceblue;
  width: 50rem;
  height: 25rem;
  border: 2px solid cadetblue;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box .login-label {
  margin: 1rem auto 2rem;
  font-size: 3rem;
  color: cadetblue;
  width: fit-content;
}

.login-box input {
  display: block;
  font-size: 1.6rem;
  margin: 1.6rem auto 0;
  width: 80%;
  height: 2.6rem;
}

.login-box .submit-button {
  display: block;
  height: 3.6rem;
  width: 8rem;
  color: antiquewhite;
  background-color: cadetblue;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 4px;
  margin: 2rem auto 0;
  padding: 5px;
}

.login-box .error-message {
  font-size: 1.6rem;
  color: red;
  width: fit-content;
  margin: 0.5rem auto 0;
  padding: 2px;
  border-radius: 4px;
}

.fill-page {
  height: 100dvh;
  width: 100dvw;
  position: absolute;
  background-image: linear-gradient(to bottom right, cadetblue, darkcyan);
}

.content-box {
  position: relative;
  width: 60dvh;
  min-height: 50dvh;
  margin: 20dvh auto auto;
  padding: 0.6rem;
  font-weight: bolder;
  color: #282c34;
  background-color: #eeeeee;
  border-radius: 16px;
}

.greet-message {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
}

.personal-info {
  display: flex;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: left;
  margin-top: 3rem;
  margin-left: 1rem;
}

.user-data {
  font-weight: initial;
  font-size: 2.4rem;
}

.profile-picture {
  position: relative;
  max-width: 30rem;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 3rem;
}

.send-to-wrapper {
  width: 30rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
}

.send-to-label {
  font-size: 2rem;
  padding: 0.5rem 0;
}

.button-wrapper {
  height: 3.6rem;
  width: 8rem;
  margin: 2rem auto 0;
}
